* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-title-color-button: #171100;
}

/* ----------common---------- */

.content {
    width: 1170px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 118px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    padding: 15px 0;
    border-radius: 25px;
    text-align: center;
    color: #fff;
    background-color: var(--primary-title-color-button);
    transition: 0.5s;
}

.title {
    font-family: Sen;
    font-weight: 700;
    letter-spacing: -2px;
    color: var(--primary-title-color-button);
}

.desc {
    font-weight: 400;
    color: #5F5B53;
}

/* ----------navbar---------- */

header {
    padding: 40px 0 8px;
    background-color: #FFFCF4;
}

.fixed {
    position: sticky;
    top: -32px;
    z-index: 1;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-nav {
    display: flex;
    gap: 42px;
    margin-left: 512px;
}

.list-nav .list-item a {
    display: block;
    position: relative;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5F5B53;
}

.list-nav .list-item a:after {
    display: none;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 15px;
    border-radius: 12px;
    background: var(--primary-title-color-button);

}

.list-nav .list-item:hover a {
    font-weight: 600;
    color: var(--primary-title-color-button);
}

.list-nav .list-item:hover a:after {
    display: block;
}

.nav-action.btn {
    margin-left: 30px;
    padding: 10px 43px;
}

.nav-action.btn:hover {
    background-color: #FFB900;
}

/* ----------hero---------- */
.hero {
    display: flex;
    background-color: #FFFCF4;
    padding-top: 64px;
}

.hero-container {
    display: flex;
}

.img-container {
    position: relative;
    width: 48%;
}

.hero-image {
    height: 685px;
    width: 470px;
    object-fit: cover;
    border-radius: 20px;
}

.course-container {
    padding: 24px 0 24px 24px;
    position: absolute;
    right: 0;
    bottom: 46px;
    width: 270px;
    border-radius: 12px;
    background-color: #fff;
}

.course-container .course {
    display: flex;
    align-items: center;
    margin-top: 14px;
}

.course-container .course:first-child {
    margin-top: 0;
}

.course-name p:first-child {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.85;
    color: #5F5B53;

}

.course-name p:last-child {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.7;
    color: var(--primary-title-color-button);

}

.course .icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.course:nth-child(1) .icon {
    background-color: #FFF9E8;
}

.course:nth-child(2) .icon {
    background-color: #FCEFFF;
}

.course:nth-child(3) .icon {
    background-color: #EBEAFF;
}

.content-container {
    width: 52%;
    margin-top: 64px;
    padding-left: 130px;
}

.content-container .title {
    font-weight: 700;
    font-size: 5.8rem;
    line-height: 1.17;
    letter-spacing: -2px;
}

.content-container .desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin-top: 22px;
    color: #5F5B53;
}

.action-container {
    display: flex;
    margin-top: 38px;
    align-items: center;
}

.action-container .btn {
    font-size: 1.8rem;
    line-height: 1.7;
    border-radius: 32px;
    padding: 16px 33px;
    background-color: #FFB900;
}

.action-container .btn:hover {
    background-color: var(--primary-title-color-button);
}

.action-container .video-play {
    display: flex;
    align-items: center;
}

.video-play .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 28px;
    box-shadow: 0px 8px 16px 0px #00000012;
    transition: 0.5s;
}

.video-play .icon:hover {
    box-shadow: 0px 8px 8px 0px #00000033;
}

.video-play p {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.7;
    margin-left: 14px;
    color: var(--primary-title-color-button);
}

.data {
    margin-top: 48px;
}

.data p {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.7;
    color: #5F5B53;
}

.data .numbers {
    display: flex;
}

.data .numbers p:last-child {
    margin-left: 28px;
}

.data span {

    margin-right: 10px;
    font-family: Sen;
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.22;
    color: var(--primary-title-color-button);
}

/* ----------popular---------- */
.popular {
    padding: 200px 0;
}

.popular .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular .header .desc-block {
    width: 458px;
}

.popular .header .title {
    font-size: 3.8rem;
    line-height: 1.26;
}

.popular .header .desc {
    margin-top: 16px;
    font-size: 1.8rem;
    line-height: 1.7;
}

.popular .header .icon-block {
    display: flex;
}

.popular .header .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.popular .header .icon:first-child {
    border: 1px solid #FFB900;
}

.popular .header .icon:last-child {
    border: 1px solid #fff;
    margin-left: 18px;
    background: #FFB900;
}

.popular .content {
    display: flex;
    gap: 30px;
    margin-top: 55px;
}

.popular .content .content-item {
    flex: 1;
    border-radius: 12px;
}



.content .content-item .content-img {
    width: 370px;
    height: 278px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.popular .content .content-item .content-body {
    margin-top: -1.4px;
    padding: 16px 22px 22px 22px;
    border: 1px solid #E2DFDA;
    border-top: 0px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.popular .content .content-item:hover .content-body {
    box-shadow: 0px 18px 36px 0px #0000000D;
    border: 0px;
}

.content-item .title-block {
    display: flex;
    justify-content: space-between;
}

.content-item .title-block .rate {
    display: flex;
    align-items: center;
}

.content-item .title-block .rate .number {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    margin-left: 6px;
    color: #FFB900;
}

.content-item .title-block .title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.7;
    letter-spacing: 0;
}

.content .content-item .desc {
    font-size: 1.4rem;
    line-height: 1.85;
    margin-top: 6px;
}

.content .content-item .action-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.content .content-item .action-block .price {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.7;
    color: var(--primary-title-color-button);
}

.content .content-item .action-block .btn {
    padding: 12px;
    font-size: 14px;
    line-height: 1.85;
}

.content .content-item .action-block .btn:hover {
    background-color: #FFB900;
}

/* -----------Feedback--------------- */
.feed-back {
    background-color: #2E2100;
    padding: 96px 0;
}

.feed-back-container {
    display: flex;
}

.feed-back-container .customer-info {
    min-width: 159px;
}

.feed-back-container .customer-info .avt {
    display: block;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.feed-back-container .customer-info .info-container {
    margin-top: 18px;
}

.feed-back-container .customer-info .name {
    font-family: Sen;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.42;
    color: #F7F7F7;

}

.feed-back-container .customer-info .job {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.85;
    color: #BFBCB2;
}

.feed-back-container .customer-info .icon-block {
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
    width: 30px;
}

.feed-back-container .feed-back-desc {
    margin-left: 241px;
}

.feed-back-container .feed-back-desc .icon {
    margin-left: calc(0rem - 3rem);
}

.feed-back-container .feed-back-desc .desc {
    font-weight: 400;
    font-style: italic;
    font-size: 2.6rem;
    line-height: 1.54;
    color: #FFFFFF;
}

/* ---------Features-------------- */
.features {
    padding: 200px 0;
}

/* common features(both 1 and 2 use) */
.features-container .features-text .title {
    font-size: 3.8rem;
    line-height: 1.26;
}

.features-container .features-text .desc {
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 1.75;
}

.features-container .features-text .btn {
    background-color: #FFB900;
    margin-top: 32px;
    padding: 11px 37px;
    border-radius: 26px;
}

.features-img img {
    display: block;
    object-fit: cover;
}

/* features1 */
.features1 {
    display: flex;
    align-items: center;
}

.features1 .features-img {
    display: flex;
    gap: 30px;
}

.features1 .features-img img {
    width: 270px;
    height: 404px;
    flex: 1;
    border-radius: 16px;

}

.features1 .features-img img:first-child {
    margin-top: 34px;
}

.features1 .features-text {
    width: 470px;
    margin-left: 130px;
}


/* features2 */
.features2 {
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.features2 .features-text {
    width: 570px;
}

.features2 .features-text .btn {
    padding: 11px 32px;
}

.features2 .features-img img {
    width: 470px;
    height: 440px;
    border-radius: 20px;
}